<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link th:href="@{/styles/style.css}" rel="stylesheet" />
    <title>Alerts</title>
</head>

<body>
<nav class="navbar navbar-light p-2">
    <div class="d-flex col-1 flex-md-nowrap justify-content-between">
        <img style="padding: 2px"
             src="https://banner.uclipart.com/20200111/pby/boating-black-and-white-sailing-ship.png" height="56"
             width="60" alt="" loading="lazy" />
        <a class="navbar-brand" style="color:white;" href="/homepage">
            Ahoy
        </a>
    </div>
    <div class="d-flex align-items-center justify-content-md-end">
        <div class="mt-1">
            <a class="nav-link " th:href="@{homepage}">Home</a>
        </div>
        <div class="mt-1">
            <a class="nav-link" th:href="@{vesselSubscribe}">Subscribe</a>
        </div>
        <div class="mt-1">
            <a class="nav-link" th:href="@{schedule}">Schedule</a>
        </div>
        <div class="mt-1">
            <a class="nav-link" th:href="@{alerts}">Alerts</a>
        </div>
        <div class="dropdown">
            <ul class="navbar-nav mr-auto mt-1"></ul>
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
                Hello, [[${#httpServletRequest.remoteUser}]]
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" th:href="@{settings}">Account Preferences</a></li>
                <li><a class="dropdown-item" th:href="@{logout}">Log out</a></li>
            </ul>
        </div>
    </div>
</nav>


<div class="container-fluid">
    <div class="row">
        <br>
        <br>
    </div>

    <div class="row">
        <h1 style="text-align:center ">Alerts</h1>
        <p style="text-align:center">Here are the list of alerts each day. Some values may
            be subject to change. Click vessels for more information.</p>
        <br>
        <br>
    </div>

    <div class="row">
        <div class="text-left" style="padding-bottom: 8px;">
            <div class="dropdown flex-column">
                <div class="dropdown pull-right" style="margin:5px;">

                    <select class="btn btn-dark" id="filterSelector">
                        <option value="All">Filter By</option>
                        <option value="Change in Average Speed">Change in Average Speed</option>
                        <option value="Change in Berth">Change in Berth</option>
                        <option value="Change in Berthing Time">Change in Berthing Time</option>
                        <option value="Change in Status">Change in Status</option>
                        <option value="Change in Unberthing Time">Change in Unberthing Time</option>
                       
                    </select>
                </div>
            </div>

        </div>
        <div class="text-right" style="padding-bottom: 8px; ">
            <div class="dropdown flex-column">
                <a th:href="@{alertconfigurations}">
                    <button class="btn btn-dark pull-right" type="button" id="Button">
                        Configure Alerts
                    </button>
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm">
            <div class="card">
                <h5 class="card-header">Your Alerts</h5>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table" id = "alertTableSort">
                            <thead>
                            <tr>
                                <th scope="col">Alert Type</th>
                                <th scope="col" id = "sortNameButtonAlerts">Vessel Name <i class="fa fa-fw fa-sort"></i></th>
                                <th scope="col">Incoming Voyage No.</th>
                                <th scope="col">Date Time</th>
                                <th scope="col">Alert Content</th>
                                <th scope="col"></th>
                            </tr>
                            </thead>

                            <tbody id = "alertTable">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
    <!-- Github buttons -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <script type="text/javascript" th:src="@{/js/jquery-3.5.1.js}"></script>
    <script type="text/javascript" th:src="@{/js/alerts.js}"></script>

</body>

</html>