<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form class="accountManager">
    <input type ="text" id = "forgottenUser" placeholder="Enter Username">
    <input type="email" id = "forgottenEmail" placeholder="Enter Email">
    <button id="recoverAccount" type="button">Get Temporary Password</button>
</form>

<script type="text/javascript" th:src="@{/js/jquery-3.5.1.js}"></script>
<script type="text/javascript" th:src="@{/js/forgotPassword.js}"></script>
</body>
</html>