<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <link rel="stylesheet" href="style.css">
    <link th:href="@{/styles/style.css}" rel="stylesheet" />

</head>

<body>
    <nav class="navbar navbar-light p-2">
        <div class="d-flex col-1 flex-md-nowrap justify-content-between">
            <a th:href="@{/}"><img style="padding: 2px" src="https://pics.freeicons.io/uploads/icons/png/288898991556280995-512.png"
                height="56" width="60" alt="" loading="lazy" />
            </a>
        </div>
    </nav>



    <div class="container-fluid">
        <div class="row">
            <br>
        </div>

        <div class="row">
            <h1 style="text-align:center ">Reset Password</h1>
        </div>


        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-md">
                <div class="card ">
                    <h6 class="card-header bg-dark" style="color: white">Reset your password</h6>
                    <div class="card-body">
                        <div class="table-responsive">
                            <div class="form-group">
                                <label for="exampleInputUsername1">Username</label>
                                <input aria-describedby="emailHelp" class="form-control" type="text" id="forgottenUser"
                                    placeholder="Enter Username">
                            </div>
                            <br>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email address</label>
                                <input aria-describedby="emailHelp" class="form-control" type="email"
                                    id="forgottenEmail" placeholder="Enter Email">
                                <br>
                                <p>
                                    A temporary password will be sent to your email.
                                    Please log in using the given password, and reset your
                                    password 'Account'
                                </p>
                                <br>
                                <button id="recoverAccount" class="btn btn-dark" style="float:right" type="button">Get
                                    Temporary Password</button>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4"></div>
        </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
    <!-- Github buttons -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <script type="text/javascript" th:src="@{/js/jquery-3.5.1.js}"></script>
    <script type="text/javascript" th:src="@{/js/forgotPassword.js}"></script>

</body>

</html>