<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
          integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <link rel="stylesheet" href="extensions/sticky-header/bootstrap-table-sticky-header.css">
    <script src="extensions/sticky-header/bootstrap-table-sticky-header.js"></script>
<!--    <link rel="stylesheet" href="style.css">-->
    <link th:href="@{/styles/style.css}" rel="stylesheet" />
</head>

<body>
<nav class="navbar navbar-light p-2">
    <div class="d-flex col-1 flex-md-nowrap justify-content-between">
        <img style="padding: 2px"
             src="https://lh3.googleusercontent.com/proxy/2PGWQYHMeSpsyeDfe70PvPqrRGXddoVUBC3e9Z9phK7gsA96U-Ng8p98xZoSSq_uj5ER5Kx5EzTR5Bfn4xxFTtc63aMPn-ylqVdJkob7kKWjlmOYn3HKZ-S_3fhrUrLlyy9PA2IW4A-9tZcHOKMAyVf5H1sYiYbr7Cc"
             height="56"
             width="60"
             alt=""
             loading="lazy"/>
        <a class="navbar-brand" style="color:white;" href="#">
            Ahoy
        </a>
    </div>
    <div class="d-flex align-items-center justify-content-md-end">
        <div class="mt-1">
            <a class="nav-link " th:href="@{homepage}">Home</a>
        </div>
        <div class="mt-1">
            <a class="nav-link" th:href="@{schedule}">Schedule</a>
        </div>
        <div class="dropdown">
            <ul class="navbar-nav mr-auto mt-1"></ul>
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
                Hello, user!
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" th:href="@{settings}">Settings</a></li>
                <li><a class="dropdown-item" th:href="@{landing}">Log out</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <br>
        <br>
    </div>

    <div class="row">
        <h1 th:inline="text" style="text-align:center">Ahoy, [[${#httpServletRequest.remoteUser}]]</h1>
            <p style="text-align:center">Welcome to your home page. Click on the boxes for more information.</p>
            <br>
            <br>            

    <div class="row">
        <div class="col-sm">
            <div class="card">
                <h5 class="card-header">Your Daily Schedule</h5>
                <div class="card-body table-responsive">
                    <table class="table">
                        <thead >
                            <tr>
                                <th style="position: sticky;" scope="col">Status</th>
                                <th style="position: sticky;" scope="col">Voyage Number</th>
                                <th style="position: sticky;" scope="col">Vessel Name</th>
                                <th style="position: sticky;" scope="col">Berth Number</th>
                                <th style="position: sticky;" scope="col">Arrival Time</th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">Unberthed</th>
                            <td>123</td>
                            <td>Ship A</td>
                            <td>14</td>
                            <td>10:00</td>
                        </tr>
                        <tr>
                            <th scope="row">Alongside</th>
                            <td>123</td>
                            <td>Ship B</td>
                            <td>67</td>
                            <td>14:00</td>
                        </tr>
                        <tr>
                            <th scope="row">Berthing</th>
                            <td>123</td>
                            <td>Ship C</td>
                            <td>29</td>
                            <td>18:34</td>
                        </tr>
                        <tr>
                            <th scope="row">Berthing</th>
                            <td>123</td>
                            <td>Ship D</td>
                            <td>56</td>
                            <td>15:20</td>
                        </tr>
                        <tr>
                            <th scope="row">Alongside</th>
                            <td>123</td>
                            <td>Ship E</td>
                            <td>48</td>
                            <td>12:00</td>
                        </tr>
                        <tr>
                            <th scope="row">Unberthed</th>
                            <td>123</td>
                            <td>Ship F</td>
                            <td>89</td>
                            <td>16:05</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
                </div>
                <div class="col-sm">
                    <div class="card">
                        <h5 class="card-header">Your Recent Alerts</h5>
                        <div class="card-body table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">Time</th>
                                    <th scope="col">Alert</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th scope="row">10:00</th>
                                    <td>Ship 1 is going to be delayed due to engine fault by 2 hours.</td>
                                </tr>
                                <tr>
                                    <th scope="row">11:40</th>
                                    <td>Ship 2 is arriving early by 01:30 hours.</td>
                                </tr>
                                <tr>
                                    <th scope="row">12:46</th>
                                    <td>Ship 3 got attacked by pirates.</td>
                                </tr>
                                <tr>
                                    <th scope="row">15:34</th>
                                    <td>Ship 4 is approaching to Berth 78.</td>
                                </tr>
                                <tr>
                                    <th scope="row">17:53</th>
                                    <td>Ship 5 is delayed by 45 minutes.</td>
                                </tr>
                                <tr>
                                    <th scope="row">18:32</th>
                                    <td>Ship 6 is arrving early by 15 minutes.</td>
                                </tr>
                                <tr>
                                    <th scope="row">15:34</th>
                                    <td>Ship 4 is approaching to Berth 78.</td>
                                </tr>
                                <tr>
                                    <th scope="row">17:53</th>
                                    <td>Ship 5 is delayed by 45 minutes.</td>
                                </tr>
                                <tr>
                                    <th scope="row">18:32</th>
                                    <td>Ship 6 is arrving early by 15 minutes.</td>
                                </tr>
                                <tr>
                                    <th scope="row">15:34</th>
                                    <td>Ship 4 is approaching to Berth 78.</td>
                                </tr>
                                <tr>
                                    <th scope="row">17:53</th>
                                    <td>Ship 5 is delayed by 45 minutes.</td>
                                </tr>
                                <tr>
                                    <th scope="row">18:32</th>
                                    <td>Ship 6 is arrving early by 15 minutes.</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
<!-- Github buttons -->
<script async defer src="https://buttons.github.io/buttons.js"></script>

</body>

</html>