<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
         <!-- Required meta tags -->
         <meta charset="utf-8">
         <meta name="viewport" content="width=device-width, initial-scale=1">
     
         <!-- Bootstrap CSS -->
         <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
         <link th:href="@{/styles/style.css}" rel="stylesheet" />

    <title>Home Page</title>
</head>
<body>

<nav class="navbar navbar-light p-2">
    <div class="d-flex col-1 flex-md-nowrap justify-content-between">
        <img style="padding: 2px"
             src="https://banner.uclipart.com/20200111/pby/boating-black-and-white-sailing-ship.png"
             height="56"
             width="60"
             alt=""
             loading="lazy"/>
        <a class="navbar-brand" style="color:white;" href="#">
            Ahoy
        </a>
    </div>
    <div class="d-flex align-items-center justify-content-md-end">
        <div class="mt-1">
            <a class="nav-link " th:href="@{homepage}">Home</a>
        </div>
        <div class="mt-1">
            <a class="nav-link" th:href="@{schedule}">Schedule</a>
        </div>
        <div class="mt-1">
            <a class="nav-link" th:href="@{alerts}">Alerts</a>
        </div>
        <div class="dropdown">
            <ul class="navbar-nav mr-auto mt-1"></ul>
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
                Hello, [[${#httpServletRequest.remoteUser}]]
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" th:href="@{settings}">Account Preferences</a></li>
                <li><a class="dropdown-item" th:href="@{landing}">Log out</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <br>
        <br>
    </div>

    <div class="row">
        <h1 th:inline="text" style="text-align:center">Ahoy, [[${#httpServletRequest.remoteUser}]]</h1>
        <p style="text-align:center">Your daily schedule contains the ships arriving today. Scroll down for recent alerts.</p>
        <br>
        <br>
    </div>

    <div class="row">
        <div class="col-2"></div>

        <div class="col-4">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-dark active">
                  <input type="radio" name="options" id="option1" autocomplete="off" checked>All Voyages
                </label>
                <label class="btn btn-dark">
                  <input type="radio" name="options" id="option2" autocomplete="off">Subscribed
                </label>
              </div>
        </div>
          <br> 
          <br>  

    </div>

    <div class="row">
        <div class="col-2">
        </div>
        <div class="col-8">
            <div class="card" >
                <h5 class="card-header">Today's Schedule</h5>
                <div class="card-body table-responsive">
                    <table class="table">
                        <thead >
                        <tr>
                            <th style="position: sticky;" scope="col">Vessel</th>
                            <th style="position: sticky;" scope="col">Voyage Number</th>
                            <th style="position: sticky;" scope="col">Status</th>
                            <th style="position: sticky;" scope="col">Berth Number</th>
                            <th style="position: sticky;" scope="col">ETA</th>
                        </tr>
                        </thead>
                        <tbody id = "todayVoyageRecord">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-2">
        </div>
    </div>

    <div class="row">
        <br>
    </div>

    <div class="row" style="padding-bottom: 8px;">
        <div class="col-2"></div>
        <div class="col-10">
            <div class="dropdown">
                <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Filter by:
                </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#">All Alerts</a></li>
                    <li><a class="dropdown-item" href="#">Berthing Time Change</a></li>
                    <li><a class="dropdown-item" href="#">Berth Number Change</a></li>
                    <li><a class="dropdown-item" href="#">Average Speed Change</a></li>
                    </ul>
              </div>
        </div>
        <br>
    </div>

    <div class="row">
        <div class="col-2">
        </div>
        <div class="col-8">
            <div class="card" >
                <h5 class="card-header">Today's Alerts</h5>
                <div class="card-body table-responsive">
                    <table class="table">
                        <thead >
                        <tr>
                            <th style="position: sticky;" scope="col">Alert Type</th>
                            <th style="position: sticky;" scope="col">Vessel</th>
                            <th style="position: sticky;" scope="col">Status</th>
                            <th style="position: sticky;" scope="col">Invoyage Number</th>
                            <th style="position: sticky;" scope="col">DateTime</th>
                            <th style="position: sticky;" scope="col">Alert Content</th>
                            <th style="position: sticky;" scope="col">Mark as read</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">Dummy data</th>
                            <td>Dummy data</td>
                            <td>Dummy data A</td>
                            <td>Dummy data</td>
                            <td>Dummy data</td>
                            <td>Dummy data</td>
                            <td class="checkbox">
                                <input type="checkbox">
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Dummy data</th>
                            <td>Dummy data</td>
                            <td>Dummy data A</td>
                            <td>Dummy data</td>
                            <td>Dummy data</td>
                            <td>Dummy data</td>
                            <td class="checkbox">
                                <input type="checkbox">
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Dummy data</th>
                            <td>Dummy data</td>
                            <td>Dummy data A</td>
                            <td>Dummy data</td>
                            <td>Dummy data</td>
                            <td>Dummy data</td>
                            <td class="checkbox">
                                <input type="checkbox">
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Dummy data</th>
                            <td>Dummy data</td>
                            <td>Dummy data A</td>
                            <td>Dummy data</td>
                            <td>Dummy data</td>
                            <td>Dummy data</td>
                            <td class="checkbox">
                                <input type="checkbox">
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Dummy data</th>
                            <td>Dummy data</td>
                            <td>Dummy data A</td>
                            <td>Dummy data</td>
                            <td>Dummy data</td>
                            <td>Dummy data</td>
                            <td class="checkbox">
                                <input type="checkbox">
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Dummy data</th>
                            <td>Dummy data</td>
                            <td>Dummy data A</td>
                            <td>Dummy data</td>
                            <td>Dummy data</td>
                            <td>Dummy data</td>
                            <td class="checkbox">
                                <input type="checkbox">
                            </td>
                        <tr>
                            <th scope="row">Dummy data</th>
                            <td>Dummy data</td>
                            <td>Dummy data A</td>
                            <td>Dummy data</td>
                            <td>Dummy data</td>
                            <td>Dummy data</td>
                            <td class="checkbox">
                                <input type="checkbox">
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Dummy data</th>
                            <td>Dummy data</td>
                            <td>Dummy data A</td>
                            <td>Dummy data</td>
                            <td>Dummy data</td>
                            <td>Dummy data</td>
                            <td class="checkbox">
                                <input type="checkbox">
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Dummy data</th>
                            <td>Dummy data</td>
                            <td>Dummy data A</td>
                            <td>Dummy data</td>
                            <td>Dummy data</td>
                            <td>Dummy data</td>
                            <td class="checkbox">
                                <input type="checkbox">
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Dummy data</th>
                            <td>Dummy data</td>
                            <td>Dummy data A</td>
                            <td>Dummy data</td>
                            <td>Dummy data</td>
                            <td>Dummy data</td>
                            <td class="checkbox">
                                <input type="checkbox">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-2">
        </div>
    </div>
</div>




<!-- Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/js/jquery-3.5.1.js}"></script>
<script type="text/javascript" th:src="@{/js/homepagetest.js}"></script>


</body>
</html>