<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
          integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <link rel="stylesheet" href="style.css">
    <link th:href="@{/styles/style.css}" rel="stylesheet" />
    <title>Settings</title>
</head>

<body>
<nav class="navbar navbar-light p-2">
    <div class="d-flex col-1 flex-md-nowrap justify-content-between">
        <img style="padding: 2px"
             src="https://banner.uclipart.com/20200111/pby/boating-black-and-white-sailing-ship.png"
             height="56"
             width="60"
             alt=""
             loading="lazy"/>
        <a class="navbar-brand" style="color:white;" href="/homepage">
            Ahoy
        </a>
    </div>
    <div class="d-flex align-items-center justify-content-md-end">
        <div class="mt-1">
            <a class="nav-link " th:href="@{homepage}">Home</a>
        </div>
        <div class="mt-1">
            <a class="nav-link" th:href="@{vesselSubscribe}">Subscribe</a>
        </div>
        <div class="mt-1">
            <a class="nav-link" th:href="@{schedule}">Schedule</a>
        </div>
        <div class="mt-1">
            <a class="nav-link" th:href="@{alerts}">Alerts</a>
        </div>
        <div class="dropdown">
            <ul class="navbar-nav mr-auto mt-1"></ul>
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
                Hello, [[${#httpServletRequest.remoteUser}]]
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" th:href="@{settings}">Settings</a></li>
                <li><a class="dropdown-item" th:href="@{logout}">Log out</a></li>
            </ul>
        </div>
    </div>
</nav>




<div class="container-fluid">
    <div class="row">
        <br>
    </div>

    <div class="row">
        <h1 style="text-align:center ">Account Settings</h1>
    </div>

    
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-md">
            <div class="card">
                <h6 class="card-header">Profile Settings</h6>
                <div class="card-body">
                    <div class="table-responsive">
                        <div class="form-group">
                            <label for="exampleInputUsername1">Username</label>
                            <input type="username" class="form-control" id="exampleInputUsername1"
                                   aria-describedby="emailHelp" placeholder="Enter username">
                            <label for="exampleInputUsername2">* Username cannot be changed</label>
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="newEmail"
                                   placeholder="Update Email">
                                   <br>
                            <button id="emailSubmission" class="btn btn-dark" style="float:right" type="button">Update Email</button>
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Enter new password</label>
                            <input type ="password" id = "newPass" placeholder="Enter New Password">
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="exampleInputPassword2">Confirm new password</label>
                            <input type="password" id = "confirmPass" placeholder="Confirm Password">
                            <br>
                            <button id="passwordSubmission" class="btn btn-dark" style="float:right" type="button">Update Password</button>
                        </div>
                        <!-- <br>
                        <button type="submit" class="btn btn-dark" style="float:right">Save</button> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3"></div>
    </div>

</div>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
<!-- Github buttons -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
<script type="text/javascript" th:src="@{/js/jquery-3.5.1.js}"></script>
<script type="text/javascript" th:src="@{/js/changeAccountDetails.js}"></script>

</body>

</html>