<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <form id = "vesselFinder">
        <input id = "vesselSearchTerm" type = "text" name = "vesselname" placeholder="Search">
        <button class="submission" type="button">Search</button>
    </form>
    <ul id = "allVesselsLike">
        
        
    </ul>
</div>

<script type="text/javascript" th:src="@{/js/jquery-3.5.1.js}"></script>
<script type="text/javascript" th:src="@{/js/vesselSubscriptions.js}"></script>
</body>
</html>